.new-tweet{
  margin: 20px auto;
  padding: 15px;
}

.new-tweet, ::placeholder {
  color: #545149;
  font-weight: 600;
}

#tweet-text {
  color: #545149;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 4px #545149 solid;
  resize: none;
  width: 100%;
  padding-bottom: 10px;
}

#tweet-text:focus {
  border: none;
    border-bottom: 4px #545149 solid;
  outline: none;
  caret-color: #4056A1;
}

#newTweetButton {
  background-color: #4056A1;
  color: #FFFFFF;
  cursor: pointer;
}

.new-tweet-box {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* Tweet Styling */

.tweet {
  margin-top: 25px;
  border: 4px #545149 solid;
  border-radius: 20px;
  background-color: whitesmoke;
}

.tweet:hover {
  box-shadow: 4px 4px 0 slategray;
}

/* Tweet Header */

.tweet header {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}

.tweet-profile {
  display: flex;
  align-items: center;
}

.tweet-profile img {
  margin-left: 10px;
  margin-right: 10px;
}

.tweet h5 {
  color: slategray;
  margin-right: 20px;
}

/* Tweet Content */

.content {
  font-size: 0.9em;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
}

 /* Tweet Footer */

.tweet footer {
border-top:  4px #545149 solid;
padding: 5px;
margin-left: 20px;
margin-right: 20px;
}

.footer-box {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.tweet i {
  padding: 5px;
  color: #4056A1;
}
.tweet i:hover {
  color: #545149;
  cursor: pointer;
}

/* Error Styling */
.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
    font-style: italic;
}

.tweet-message {
  background-color: whitesmoke;
  color: #4056A1;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: large;
}